@CHARSET "utf-8";


body{
	font-family:Khmer OS Battambang;
}
.content-header>h1
{
	text-align: center;
}
.skin-blue-light .content-header {
    background: #436679;
    padding: 10px;
    color: white;
}
.content{
	*background-color: white;
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.main-footer{
	    height: 50px;
}


/* .content-wrapper,.right-side{
	min-height: 2000px !important;
} */

/* Table */

table tr:nth-child(even) {
    /* background-color: #eee; */
    background-color: #c0c0c0;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
.adminTableHeader th,table thead tr th{
	background-color: #8080c0;
	color: white;
	height: 50px;
	vertical-align: middle !important;
}
.tableRowAction{
	text-align: center;
}

.btn-success {
    background-color: #009ca6;
        /* background-color: rgb(0, 156, 166); */
}

.btn-danger {
	background-color: #dd399a;
}
.modal-header h3,.modal-header .modal-title{
	font-weight: bold;
    color: #3830ff;
    text-align: center;
}



