@CHARSET "utf-8";

body{
	font-family:Khmer OS Battambang;
}
.content-header>h1
{
	text-align: center;
}
.skin-blue-light .content-header {
    background: #436679;
    padding: 10px;
    color: white;
}
.content{
	*background-color: white;
}